@model PMStudio.Web.ViewModels.MaintenanceServicesViewModels.MaintenanceServicesListViewModel
@{
    this.ViewData["Title"] = "All MaintenanceServices";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MaintenanceServices" asp-action="Create">Add New Maintenance Service</a>
</li>
<hr />
<div class="row">
    @foreach (var maintenanceService in Model.MaintenanceServices)
    {
        <img src="..." class="align-self-center mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0"><a asp-action="ById" asp-route-id="@maintenanceService.Id"> @maintenanceService.Name</a></h5>
            @maintenanceService.ServiceDate
        </div>
    }
</div>