@{ this.ViewData["Title"] = "Privacy Policy"; }
<h1>@this.ViewData["Title"]</h1>


<p class="alert-info" >
    Federal law requires us to tell you how we collect, use, share, and protect your personal information. Federal law also limits how we can use your personal information. Protecting the privacy and security of your personal information is very important to us. Please read this notice carefully to understand what we do with the personal information we collect both online and offline.
</p>
<p class="alert-info">
    PMStudio is committed to protecting the privacy and accuracy of confidential information to the extent possible, subject to provisions of state and federal law. Other than as required by laws that guarantee public access to certain types of information, or in response to subpoenas or other legal instruments that authorize access, personal information is not actively shared. In particular, we do not re-distribute or sell personal information collected on our web servers.
</p>
