@model SinglePropertyViewModel
@{
    this.ViewData["Title"] = "All MaintenanceServices";
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<hr />
<div class="row">
    @foreach (var maintenanceService in Model.MaintenanceService)
    {
        <div class="media-body">
            <h5 class="mt-0"><a asp-action="ById" asp-route-id="@maintenanceService.Id"> @maintenanceService.Name</a></h5>
            @maintenanceService.ServiceDate
        </div>
    }
</div>