@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (this.Model.ShowRequestId)
{
    <h3>
        <strong>Error:</strong> <code>@this.Model.RequestId</code>
    </h3>
}